


.header{
  background-color: blue;
  color: white;
  font-family: 'SeafordBold';
  text-align: center;
}

.Professional{
  font: bold;
}

.HeaderBody
{
  color: black;
  background-color: yellow;
}

.content{
  color: red;
}

 
  @font-face { 
    font-family: SeafordBold; 
    src: url(./font/SeafordBold.ttf); 
    font-weight: normal; 
    }    
    
  @font-face { 
    font-family: SeafordRg; 
    src: url(./font/SeafordRg.ttf); 
    font-weight: normal; 
    }

    .container{
      width: 1000px;
      background-color: #fff;
      margin: auto;

    }
 

  h2 {
    font-family: SeafordRg;
    color: purple;
}

  p.myP{
    color: brown;
    text-align: justify;
   text-justify: inter-word;
  }

 

  p.myP:hover{background-color: #ddd;}


 body {
        font-family: SeafordRg;
        background-color:white;
      }



td {
    text-align: center;
  }




  ol:hover{background-color: #ddd;}

ul:hover{background-color: #ddd;}

ol { 
    list-style: none; 
    counter-reset: num; 
} 

ol li { 
    counter-increment: num; 
}  
  ol li::before { 
    content:counter(num) "."; 
    color: blue;     
} 

  label { display: inline-block; width: 70px; text-align: right; }
 
 img.myImage{
  height: 400px;
  width: 500px;
  border-radius: 50%;
  display: block;
  margin-right: auto;
 }